<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Get Your Buddy</h1>
      <p class="slogan">GYB是一个帮助你找到自己的创业伙伴的网站。
        <br>
        我们希望借由这个网站，能让大家找到要想奋斗的事业和一同前行的伙伴。
        <br>
        凭借自己的努力和天份打造一只Championship Team
      </p>
      <p class="lead">
        <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Keep Moving On</h2>
        <p class="lead">勿忘初心</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Ambition 记住自己内心深处的渴望</h2>
        <p class="lead"> 记住自己曾经告诉自己要看到最远的地方 </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">拒绝孤单前行<br>这里有你的伙伴</h2>
        <p class="lead">在这里找到你的团队</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
